.Body {
  text-align: center;
}

.Body-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Body-logo {
    animation: Body-logo-spin infinite 10s linear;
  }
}

@keyframes Body-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Body-input {
  width: 40hmin;
}
