$red: red;
$green: green;

.main {
  text-align: center;
}

.main-logo {
  height: 40vmin;
  pointer-events: none;
}

// Moved to inline style w/o @media -- check @media
// @media (prefers-reduced-motion: no-preference) {
//   .main-logo {
//     animation: main-logo-spin infinite 5s linear;
//   }
// }

@keyframes main-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-Button {
  background-color: lightgray;

  &-red {
    @extend .main-Button;
    color: $red;
  }
  
  &-green {
    @extend .main-Button;
    color: $green;
  }
}
